@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dropAndExpand {
  0% {
    opacity  : 0;
    transform: translateY(-150px) scale(0.8);
  }

  50% {
    opacity  : 1;
    transform: translateY(0) scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity  : 0;
    transform: scale(0.5);
  }

  100% {
    opacity  : 1;
    transform: scale(1);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity          : 0;
    transform        : translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform   : translateX(-200px);
    -ms-transform    : translateX(-200px);
    -o-transform     : translateX(-200px);
  }

  100% {
    opacity  : 1;
    transform: translateX(0);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-dropAndExpand {
  animation: dropAndExpand 1.5s ease-in;
  -webkit-animation: dropAndExpand 1.5s ease-in;
}

.animate-zoomIn {
  animation: zoomIn 1.8s ease-out;
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 2.5s ease-out;
}

.animate-gradient {
  background-size: 400% 400%;
  animation      : gradientAnimation 10s ease infinite;
}

.animate-gradient {
  background-size: 400% 400%;
  animation      : gradientBG 6s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}